#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  color: rgb(94, 94, 94);
}

.read-the-docs {
  color: #1128f5;
}

body {
  background-color: #fcfcfc;
}
